name: shatest1


on:
  #push:
  #  branches-ignore:
  #    - 'main'

  pull_request:
    types: [opened, synchronize, reopened]
    
  
  
jobs:
  job1:
    runs-on: ubuntu-latest
    
    steps:
      - 
        run: |
          echo "1=${{ github.sha }}"
          echo "2=${{ github.event.push.head.sha }}"
          echo "3=${{ github.event.pull_request.head.sha }}"
          echo "111"
  