name: shatest2


on:
  #push:
  #  branches-ignore:
  #    - 'main'

  #pull_request:
  #  types: [opened, synchronize, reopened]
    
  push:
    tags:
      - 'aaa*'
  
jobs:
  job1:
    runs-on: ubuntu-latest
    
    steps:
      -
        uses: actions/checkout@v3
        with:
          fetch-depth: 0          
          
      - 
        run: |
          git rev-parse origin/main

      - 
        run: |
          echo "1=${{ github.sha }}"
          echo "2=${{ github.event.push.head.sha }}"
          echo "3=${{ github.event.pull_request.head.sha }}"
          echo "112221131221112222277711"
  